//footer
.custom-footer {
    background-color: var(--principal-azul-claro);
    padding: 20px;
}

.logo-footer,
.enlaces-footer,
.iconos-footer {
    padding: 10px;
}

.iconos-footer i {
    color: var(--secundario--blanco);
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.iconos-footer i:hover, .enlaces-footer a:hover{
    color: #FFD700 !important;
}
