.footer{
    background-color: #727FD5;
    padding: 20px;
    text-align: center;

    .footer-conteiner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .footer-logo {
        width: 150px; 
    }
    
    .footer-nav{
        display: flex;
        gap: 20px;
        
        justify-content: center;
       
        a{
            color: white;
            text-decoration: none;
            font-size: 20px;
            
        }
    }
    

    .footer-social {
        display: flex;
        gap: 20px;
        justify-content: center;
        
        .social-icon {
            color: white;
            font-size: 24px; // Tamaño de los iconos de Bootstrap
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
                color: #FFD700; // Color dorado en hover
            }
        }
    }


}