*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --principal-azul-claro: #727fd5 ;
    --principal-morado: #684eee;
    --principal-celeste:#26b8e8;
    --principal-verde:#06c554;
    --principal-naranja:#f68e19;
    --principal-rojo:#ef3535;
    --secundario--blanco:#ffffff;
    --principal-azul-oscuro:#1b1f3b;
    --principal-verde-claro:#c2f970;
    
 
}
body{
    background-color: var(--principal-verde-claro) !important;    
}

img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--principal-naranja); 
}

// desplegable

.dropdown-menu-custom {
    background-color: rgba(27, 31, 59, 0.95); 
    width: 250px;
    border-radius: 8px;
    border: none; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.4s ease-in-out;
    
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

// estilos de la lista mejor de dbd


.peliculas-section .card {
    transition: transform 0.4s ease;
    border-radius: 10px;
}

.peliculas-section .card:hover {
    transform: scale(1.05);
}

.peliculas-section img {
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.serie-semana {
    text-align: center;
    margin-top: 60px;

    .portadaSerie {
        position: relative;
        width: 100%;
        height: 500px;
        margin: auto;
        overflow: hidden;

        video {
            width: 100%;
            display: block;
            
        }

        // Sombra en la parte inferior del video
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 70%; // tamaño de la sombra
            background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 50%, transparent 100%);
            pointer-events: none;
        }
        .titulo-serie {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);        
            color: white;
            padding: 10px 20px;
            z-index: 1;
            
            
        }
    }
}


.acordeon {
    margin: 40px auto;
    max-width: 1300px;
    text-align: center;

    h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .accordion {
        background: transparent;
        border-radius: 10px;
        overflow: hidden;

        .accordion-item {
            border: none;
            background: #222; // Fondo oscuro para los elementos
            color: white;
            margin-bottom: 10px;
           

            .accordion-header {
                button {
                    background: #333;
                    color: white;
                    font-size: 20px;
                    font-weight: bold;
                    padding: 15px;
                    transition: background 0.3s ease;

                    &:hover {
                        background: #444;
                    }

                    &:focus {
                        box-shadow: none;
                    }
                }
            }

            .accordion-collapse {
                background: #111; // Fondo más oscuro cuando se expande
                border-radius: 0 0 8px 8px;
            }

            .accordion-body {
                padding: 15px;
                font-size: 1em;
                text-align: left;
            }
        }
    }
}





  
  


