*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --principal-azul-claro: #727fd5 ;
    --principal-morado: #684eee;
    --principal-celeste:#26b8e8;
    --principal-verde:#06c554;
    --principal-naranja:#f68e19;
    --principal-rojo:#ef3535;
    --secundario--blanco:#ffffff;
    --principal-azul-oscuro:#1b1f3b;
    --principal-verde-claro:#cae79f;
 
}

body{
    background-color: var(--principal-verde-claro);
}
.custom-header{
    background-color: var(--principal-azul-claro);
    color: var(--secundario--blanco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid var(--principal-morado);
}

img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--principal-naranja); 
}

// desplegable

.dropdown-menu-custom {
    background-color: rgba(27, 31, 59, 0.95); 
    width: 250px;
    border-radius: 8px;
    border: none; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.4s ease-in-out;
    
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

// estilos de la lista mejor de dbd


.peliculas-section .card {
    transition: transform 0.4s ease;
    border-radius: 10px;
}

.peliculas-section .card:hover {
    transform: scale(1.05);
}

.peliculas-section img {
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.serie-semana {
    text-align: center;

    .portadaSerie {
        position: relative;
        width: 100%;
        height: 800px;
        margin: auto;
        overflow: hidden;

        video {
            width: 100%;
            display: block;
        }

        // Sombra en la parte inferior del video
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 70%; // tamaño de la soma
            background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 50%, transparent 100%);
            pointer-events: none;
        }
        .titulo-serie {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);        
            color: white;
            padding: 10px 20px;
            z-index: 1;
            
            
        }
    }
}




  
  


