/* Estilos generales */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    border-bottom: 2px solid #654ea3;
}

img {
    max-width: 100%;
    height: auto;
    max-width: 500px;
}

a {
    text-decoration: none;
}


/* Estilo personalizado para el menú desplegable */
.dropdown-menu-custom {
    background-color: rgba(27, 31, 59, 0.95) !important; 
    width: 250px !important;
    border-radius: 8px !important;
    border: none !important; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5) !important;
    animation: fadeIn 0.4s ease-in-out !important;
}

/* Color del texto de las opciones del menú */
.dropdown-item {
    color: #ffffff !important;
    padding: 12px 20px !important;
}

/* Hover en el menú desplegable */
.dropdown-item:hover {
    background-color: #dd48a1 !important;
    color: #000000 !important;
}

/* Sección Fondo Portada */
.fondo-portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center;
    background-image: url('portada.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Ajuste para pantallas de 700px o menos */
@media (max-width: 916px) {
    .fondo-portada {
        background-position: center right; /* Enfoca ligeramente hacia la derecha */
        background-size: auto 100vh; /* Asegura altura completa, adaptando el ancho */
    }
}

/* Ajuste para pantallas de 576px o menos */
@media (max-width: 576px) {
    .fondo-portada {
        background-position: left center; /* Enfoca más hacia la derecha */
        background-size: auto 100vh;
    }
}

/* Capa de superposición para la portada */
.arriba {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

/* Efecto de partículas */
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

section {
    position: relative;
    z-index: 1; /* Asegura que las secciones estén sobre las partículas */
}

/* Sección Saber Más */
.Saber_mas, .listaR {
    background: linear-gradient(to right, #3c1053, #ad5389, #3c1053);
    padding: 10px 15px;
    border-radius: 5px;
}

/* Fondo personalizable */
.fondoT {
    background-color: rgba(255, 255, 255, 0.1);
}

.c2 > img {
    max-width: 100%;
    height: auto;
    min-height: 370px;
}

/* Reproductor de música personalizado */
.custom-audio {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
}

.custom-audio button {
    background: none;
    border: none; /* Sin borde */
    color: white; /* Color de los iconos */
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
}

.custom-audio button:hover {
    color: #ffcc00; /* Color al pasar el ratón */
}

/* Tarjeta personalizada */
.card-custom {
    border-width: 6px;
    border-style: solid;
    border-image: linear-gradient(to right, #2206a1, #840fcc) 1;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 7px 5px 5px 1px rgba(0, 0, 0, 0.5);
    animation: gradient-border 5s linear infinite;
}


/* Animación para el borde con un degradado en movimiento */
@keyframes gradient-border {
    0% {
        border-image: linear-gradient(to right, #1b1f3b, #654ea3) 1; /* De azul oscuro a morado suave */
    }

    50% {
        border-image: linear-gradient(to right, #ad5389, #3c1053) 1; /* De fucsia a púrpura oscuro */
    }

    100% {
        border-image: linear-gradient(to right, #1b1f3b, #654ea3) 1; /* De azul oscuro a morado suave */
    }
}


