.custom-header{
    background-color: var(--principal-azul-claro);
    color: var(--secundario--blanco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid var(--principal-morado);
}

img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

a:hover {
    color: var(--principal-naranja);
  }
  
  .dropdown-menu-custom {
    background-color: rgba(27, 31, 59, 0.95);
    width: 250px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.4s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }